@{
    Layout = "_BaseLayout";
}

@section styles{
    @RenderSection("styles", required: false)
}

@section scripts{
    @RenderSection("scripts", required: false)
}

@section metatags{
    @RenderSection("metatags", required: false)
}


<div class="container mt-5">
    @RenderBody()
</div>


